<div class="outer">
  <mat-card-header>
    <mat-card-title>Öffentliche Decks</mat-card-title>

  </mat-card-header>
  <mat-card-content>

    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input [(ngModel)]="newName" matInput placeholder="" value="">
    </mat-form-field>

    <button (click)="add()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>add</mat-icon>
    </button>

  </mat-card-content>


  <div class="wrapper">

    <ng-container *ngFor="let deck of decks;">
      <mat-card class="example-card" *ngIf="(deck.deleted && restore)||(!deck.deleted && !restore)">
        <mat-card-header>
          <mat-card-subtitle>{{deck.uuid}}</mat-card-subtitle>
          <mat-card-title>{{deck.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <p>{{deck.description}}</p> -->
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <ng-container *ngIf="!deck.deleted">
            <button *ngIf="!deck.downloading; else downloadingSpinner" (click)="download(deck)" mat-icon-button
                    class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon color="accent">download</mat-icon>
            </button>

            <ng-template #downloadingSpinner>
              <button mat-icon-button>
                <mat-spinner diameter="24" color="accent"></mat-spinner>
              </button>
            </ng-template>
          </ng-container>

          <button *ngIf="!deck.deleted" (click)="openDialog([{name:deck.name,uuid:deck.uuid}])" mat-icon-button
                  class="example-icon"
                  aria-label="Example icon-button with share icon">
            <mat-icon color="accent">edit</mat-icon>
          </button>
          <button *ngIf="!deck.deleted" (click)="remove(deck.uuid)" mat-icon-button class="example-icon"
                  aria-label="Example icon-button with share icon">
            <mat-icon color="warn">delete</mat-icon>
          </button>
          <button *ngIf="deck.deleted" (click)="restoreDeck(deck.uuid)" mat-icon-button class="example-icon"
                  aria-label="Example icon-button with share icon">
            <mat-icon color="warn">restore_from_trash</mat-icon>
          </button>


        </mat-card-actions>

      </mat-card>
    </ng-container>

  </div>

  <mat-card-header *ngIf="privateDecks.length > 0">
    <mat-card-title>Geteilte Decks</mat-card-title>
  </mat-card-header>
  <div class="wrapper">

    <ng-container *ngFor="let deck of privateDecks;">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>{{deck.uuid}}</mat-card-subtitle>
          <mat-card-title>{{deck.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <!-- <p>{{deck.description}}</p> -->
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>

            <button *ngIf="!deck.downloading; else downloadingSpinner" (click)="download(deck)" mat-icon-button
                    class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon color="accent">download</mat-icon>
            </button>

            <ng-template #downloadingSpinner>
              <button mat-icon-button>
                <mat-spinner diameter="24" color="accent"></mat-spinner>
              </button>
            </ng-template>


          <button  (click)="openDialog([{name:deck.name,uuid:deck.uuid}])" mat-icon-button
                  class="example-icon"
                  aria-label="Example icon-button with share icon">
            <mat-icon color="accent">edit</mat-icon>
          </button>
          <button (click)="remove(deck.uuid)" mat-icon-button class="example-icon"
                  aria-label="Example icon-button with share icon">
            <mat-icon color="warn">delete</mat-icon>
          </button>


        </mat-card-actions>

      </mat-card>
    </ng-container>

  </div>


</div>
