<mat-drawer-container class="example-container">

  <mat-drawer #drawer mode="side">

      <app-menu></app-menu>

  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="primary">
     <!-- <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
              aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span [routerLink]="['']">DAnki</span>
      <span class="example-spacer"></span>

      <button [routerLink]="['/settings']" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>settings</mat-icon>
      </button>
      <button (click)="openNoteTypesDialog()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>library_books</mat-icon>
      </button>
      <a target="_blank" href="https://github.com/leonderdunna/DAnki/issues" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>bug_report</mat-icon>
      </a>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>


