<mat-drawer-container class="example-container">

  <mat-drawer #drawer mode="side">

      <app-menu></app-menu>

  </mat-drawer>
  <mat-drawer-content>

    <mat-toolbar color="primary">
     <!-- <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
              aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>AnkiTube</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>download</mat-icon>
      </button>
      <button (click)="openNoteTypesDialog()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>library_books</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>restore_from_trash</mat-icon>
      </button>
      <a href="" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>bug_report</mat-icon>
      </a>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>


