<div mat-dialog-title>
  Notiztypen
</div>
<mat-dialog-content>
  <mat-form-field class="example-full-width">
    <mat-label>CID</mat-label>
    <input [(ngModel)]="neu" matInput>
  </mat-form-field>
  <button mat-button (click)="add()"><mat-icon>add</mat-icon> </button><br>

  <mat-list>
    <mat-list-item *ngFor="let t of types">
      <button mat-icon-button (click)="remove(t.key)" color="warn"><mat-icon>delete</mat-icon></button>
      <span *ngIf="t.value.error">nicht gefunden</span>
      <span *ngIf="t.value.title">{{t.value.title}}</span>
      ({{t.value.cid}})
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
