<span mat-dialog-title>
  <button mat-stroked-button *ngFor="let p of path | slice: 0:path.length-1"
          [mat-dialog-close]="openDeck(p.uuid,true)">{{p.name}}</button>

<button mat-stroked-button>
  <mat-icon color="accent">edit</mat-icon>
  <input (ngModelChange)="updateName()" [(ngModel)]="path[path.length-1].name" matInput placeholder="" value="">
  </button>
</span>


<mat-dialog-content>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Decks</mat-expansion-panel-header>

      <mat-card-header><mat-panel-title>Neues Deck</mat-panel-title></mat-card-header>


      <mat-card-content>

        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input [(ngModel)]="newDeckName" matInput placeholder="" value="">
        </mat-form-field>

        <button (click)="addNewDeck()" mat-icon-button class="example-icon"
                aria-label="Example icon-button with share icon">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-content>


      <div class="wrapper">
        <mat-card class="example-card" *ngFor="let deck of decks">
          <mat-card-header>
            <mat-card-subtitle>{{deck.uuid}}</mat-card-subtitle>
            <mat-card-title>{{deck.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- <p>{{deck.description}}</p> -->
            <mat-divider></mat-divider>
          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon color="accent">download</mat-icon>
            </button>
            <button mat-icon-button [mat-dialog-close]="openDeck(deck.uuid,false)" class="example-icon"
                    aria-label="Example icon-button with share icon">
              <mat-icon color="accent">edit</mat-icon>
            </button>
            <button (click)="remove(deck.uuid)" mat-icon-button class="example-icon"
                    aria-label="Example icon-button with share icon">
              <mat-icon color="warn">delete</mat-icon>
            </button>

          </mat-card-actions>

        </mat-card>


      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>

      <mat-expansion-panel-header><mat-panel-title>Material</mat-panel-title></mat-expansion-panel-header>
        <mat-card-header>Neues Material</mat-card-header>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="newMatName" matInput placeholder="" value="">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Link</mat-label>
            <input [(ngModel)]="newMatLink" matInput placeholder="" value="">
          </mat-form-field>

          <button (click)="addNewMat()" mat-icon-button class="example-icon"
                  aria-label="Example icon-button with share icon">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-content>

        <div class="wrapper">
          <mat-card *ngFor="let m of materials">

            <mat-card-header>
              <mat-card-subtitle>{{m.link}}</mat-card-subtitle>
              <mat-card-title>{{m.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>

              <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>

              <a [href]="m.link" target="_blank" mat-icon-button class="example-icon"
                 aria-label="Example icon-button with share icon">
                <mat-icon color="accent">open_in_new</mat-icon>
              </a>
              <button (click)="removeMat(m.uuid)" mat-icon-button class="example-icon"
                      aria-label="Example icon-button with share icon">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </mat-card-actions>


          </mat-card>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
     <mat-expansion-panel-header>
        <mat-panel-title>Karten</mat-panel-title>
      </mat-expansion-panel-header>
        <mat-card-header>Neue Karte</mat-card-header>


        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>Kartentyp</mat-label>
            <mat-select [(value)]="newCardType">
              <mat-option *ngFor="let type of types" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width" *ngIf="newCardType == 'cloze'">
            <mat-label>Text</mat-label>
            <textarea [(ngModel)]="newCardText" matInput> </textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="newCardType == 'basic'">
            <mat-label>Frage</mat-label>
            <textarea [(ngModel)]="newCardQuestion" matInput></textarea>
          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="newCardType == 'basic'">
            <mat-label>Antwort</mat-label>
            <textarea [(ngModel)]="newCardAnswer" matInput></textarea>
          </mat-form-field>

          <button (click)="addNewCard()" mat-icon-button class="example-icon"
                  aria-label="Example icon-button with share icon">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-content>
        <div class="wrapper">
          <div class="card-item" *ngFor="let card of cards">
            <mat-card>
              <mat-card-header>

                <mat-card-title *ngIf="card.type =='basic'">{{card.question}}</mat-card-title>

              </mat-card-header>
              <mat-card-content>
                <p *ngIf="card.type =='basic'">{{card.answer}}</p>
                <p *ngIf="card.type =='cloze'">{{card.text}}</p>
                <mat-divider></mat-divider>
              </mat-card-content>
              <mat-card-actions>


                <button (click)="removeCard(card.uuid)" mat-icon-button class="example-icon"
                        aria-label="Example icon-button with share icon">
                  <mat-icon color="warn">delete</mat-icon>
                </button>


              </mat-card-actions>
            </mat-card>
          </div>

        </div>

    </mat-expansion-panel>
  </mat-accordion>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onClose()">SCHLIEßEN</button>
</mat-dialog-actions>
